@import url(https://fonts.google.com/specimen/Rubik);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Our Variables */
body {
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  background-color: #0f1424;
  width: 90%;
  height: 60%;
  margin: auto;
  color: white;
  padding: 0.4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 0.4em;
}

body .container .profile {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 /3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  background-color: #1c1f4a;
}

body .container .profile .card {
  width: 100%;
  height: 70%;
  background-color: #6f76c8;
  border-radius: 0.4em;
}

body .container .profile .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
}

body .container .profile .card .info img {
  width: 80px;
  height: auto;
  margin-top: 1em;
  border: solid 3px white;
  border-radius: 100px;
}

body .container .profile .card .info .content {
  margin-top: 1em;
}

body .container .profile .card .info .content p {
  color: #bdc1ff;
}

body .container .profile .card .info .content h2 {
  width: 50%;
}

body .container .profile .recurrent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  height: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container .profile .recurrent p {
  color: #bdc1ff;
}

body .container .profile .recurrent p:hover {
  color: white;
}

body .container .work {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: #ff8c66;
  position: relative;
  border-radius: 1.2em;
}

body .container .work img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
}

body .container .work .info {
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82%;
  border-radius: 1em;
}

body .container .work .info .top {
  margin-top: 1em;
}

body .container .work .info .top h4 {
  margin-left: 1em;
}

body .container .work .info .top img {
  margin-top: 1.2em;
  height: 0.3em;
  width: auto;
  margin-right: 1em;
}

body .container .work .info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
}

body .container .work .info .bottom h1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
}

body .container .work .info .bottom p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.9em;
  color: #bdc1ff;
}

body .container .play {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  background-color: #56c2e6;
  position: relative;
  border-radius: 1.2em;
}

body .container .play img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
}

body .container .play .info {
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82%;
  border-radius: 1em;
}

body .container .play .info .top {
  margin-top: 1em;
}

body .container .play .info .top h4 {
  margin-left: 1em;
}

body .container .play .info .top img {
  margin-top: 1.2em;
  height: 0.3em;
  width: auto;
  margin-right: 1em;
}

body .container .play .info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
}

body .container .play .info .bottom h1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
}

body .container .play .info .bottom p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.9em;
  color: #bdc1ff;
}

body .container .study {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  background-color: #ff5c7c;
  position: relative;
  border-radius: 1.2em;
}

body .container .study img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

body .container .study .info {
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  border-radius: 1em;
}

body .container .study .info .top {
  margin-top: 0.5em;
}

body .container .study .info .top h4 {
  margin-left: 1em;
}

body .container .study .info .top img {
  margin-top: 0.8em;
  margin-right: 1em;
  height: 0.3em;
  width: auto;
}

body .container .study .info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
}

body .container .study .info .bottom h1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
}

body .container .study .info .bottom p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.9em;
  color: #bdc1ff;
}

body .container .exercise {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: #4acf81;
  position: relative;
  border-radius: 1.2em;
}

body .container .exercise img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
}

body .container .exercise .info {
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82%;
  border-radius: 1em;
}

body .container .exercise .info .top {
  margin-top: 1em;
}

body .container .exercise .info .top h4 {
  margin-left: 1em;
}

body .container .exercise .info .top img {
  margin-top: 1.2em;
  height: 0.3em;
  width: auto;
  margin-right: 1em;
}

body .container .exercise .info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
}

body .container .exercise .info .bottom h1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
}

body .container .exercise .info .bottom p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.9em;
  color: #bdc1ff;
}

body .container .social {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  background-color: #7536d3;
  position: relative;
  border-radius: 1.2em;
}

body .container .social img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
}

body .container .social .info {
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82%;
  border-radius: 1em;
}

body .container .social .info .top {
  margin-top: 1em;
}

body .container .social .info .top h4 {
  margin-left: 1em;
}

body .container .social .info .top img {
  margin-top: 1.2em;
  height: 0.3em;
  width: auto;
  margin-right: 1em;
}

body .container .social .info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
}

body .container .social .info .bottom h1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
}

body .container .social .info .bottom p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.9em;
  color: #bdc1ff;
}

body .container .self-care {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  background-color: #f1c65b;
  position: relative;
  border-radius: 1.2em;
}

body .container .self-care img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
}

body .container .self-care .info {
  background-color: #1c1f4a;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 82%;
  border-radius: 1em;
}

body .container .self-care .info .top {
  margin-top: 1em;
}

body .container .self-care .info .top h4 {
  margin-left: 1em;
}

body .container .self-care .info .top img {
  margin-top: 1.2em;
  height: 0.3em;
  width: auto;
  margin-right: 1em;
}

body .container .self-care .info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
}

body .container .self-care .info .bottom h1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
}

body .container .self-care .info .bottom p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.9em;
  color: #bdc1ff;
}

@media (max-width: 375px) {
  body {
    font-family: Rubik;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container {
    width: 80%;
    height: 90%;
    background-color: #0f1424;
    margin: auto;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[7];
    -ms-grid-columns: 1fr;
        grid-template: repeat(7, 1fr)/1fr;
  }
  body .container .profile {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100%;
    background-color: #1c1f4a;
    border-radius: 0.4em;
  }
  body .container .profile .card {
    background-color: #6f76c8;
    width: 100%;
    height: 70%;
  }
  body .container .profile .card .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    padding: 1em;
  }
  body .container .profile .card .info img {
    margin-top: 0;
    width: 100px;
    height: auto;
    width: 50px;
  }
  body .container .profile .card .info .content {
    margin-left: 0.5em;
    margin-top: 0;
  }
  body .container .profile .card .info .content h2 {
    width: auto;
  }
  body .container .profile .recurrent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  body .container .work {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: #ff8c66;
    position: relative;
    border-radius: 1.2em;
  }
  body .container .work img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  body .container .work .info {
    background-color: #1c1f4a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 74%;
    border-radius: 1em;
  }
  body .container .work .info .top {
    margin-top: 0.5em;
  }
  body .container .work .info .top h4 {
    margin-left: 1em;
  }
  body .container .work .info .top img {
    margin-top: 0.8em;
    margin-right: 1em;
    height: 0.3em;
    width: auto;
  }
  body .container .work .info .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  body .container .work .info .bottom h1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-weight: 400;
    font-size: 1.5em;
  }
  body .container .work .info .bottom p {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 0.9em;
  }
  body .container .play {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background-color: #56c2e6;
    position: relative;
    border-radius: 1.2em;
  }
  body .container .play img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  body .container .play .info {
    background-color: #1c1f4a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 74%;
    border-radius: 1em;
  }
  body .container .play .info .top {
    margin-top: 0.5em;
  }
  body .container .play .info .top h4 {
    margin-left: 1em;
  }
  body .container .play .info .top img {
    margin-top: 0.8em;
    margin-right: 1em;
    height: 0.3em;
    width: auto;
  }
  body .container .play .info .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  body .container .play .info .bottom h1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-weight: 400;
    font-size: 1.5em;
  }
  body .container .play .info .bottom p {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 0.9em;
  }
  body .container .study {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: #ff5c7c;
    position: relative;
    border-radius: 1.2em;
  }
  body .container .study img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  body .container .study .info {
    background-color: #1c1f4a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 74%;
    border-radius: 1em;
  }
  body .container .study .info .top {
    margin-top: 0.5em;
  }
  body .container .study .info .top h4 {
    margin-left: 1em;
  }
  body .container .study .info .top img {
    margin-top: 0.8em;
    margin-right: 1em;
    height: 0.3em;
    width: auto;
  }
  body .container .study .info .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  body .container .study .info .bottom h1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-weight: 400;
    font-size: 1.5em;
  }
  body .container .study .info .bottom p {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 0.9em;
  }
  body .container .exercise {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    background-color: #4acf81;
    position: relative;
    border-radius: 1.2em;
  }
  body .container .exercise img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  body .container .exercise .info {
    background-color: #1c1f4a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 74%;
    border-radius: 1em;
  }
  body .container .exercise .info .top {
    margin-top: 0.5em;
  }
  body .container .exercise .info .top h4 {
    margin-left: 1em;
  }
  body .container .exercise .info .top img {
    margin-top: 0.8em;
    margin-right: 1em;
    height: 0.3em;
    width: auto;
  }
  body .container .exercise .info .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  body .container .exercise .info .bottom h1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-weight: 400;
    font-size: 1.5em;
  }
  body .container .exercise .info .bottom p {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 0.9em;
  }
  body .container .social {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
    grid-column: 1 / -1;
    background-color: #7536d3;
    position: relative;
    border-radius: 1.2em;
  }
  body .container .social img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  body .container .social .info {
    background-color: #1c1f4a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 74%;
    border-radius: 1em;
  }
  body .container .social .info .top {
    margin-top: 0.5em;
  }
  body .container .social .info .top h4 {
    margin-left: 1em;
  }
  body .container .social .info .top img {
    margin-top: 0.8em;
    margin-right: 1em;
    height: 0.3em;
    width: auto;
  }
  body .container .social .info .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  body .container .social .info .bottom h1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-weight: 400;
    font-size: 1.5em;
  }
  body .container .social .info .bottom p {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 0.9em;
  }
  body .container .self-care {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 /8;
    grid-column: 1 / -1;
    background-color: #f1c65b;
    position: relative;
    border-radius: 1.2em;
  }
  body .container .self-care img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
  }
  body .container .self-care .info {
    background-color: #1c1f4a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 74%;
    border-radius: 1em;
  }
  body .container .self-care .info .top {
    margin-top: 0.5em;
  }
  body .container .self-care .info .top h4 {
    margin-left: 1em;
  }
  body .container .self-care .info .top img {
    margin-top: 0.8em;
    margin-right: 1em;
    height: 0.3em;
    width: auto;
  }
  body .container .self-care .info .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
  }
  body .container .self-care .info .bottom h1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-weight: 400;
    font-size: 1.5em;
  }
  body .container .self-care .info .bottom p {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=style.css.map */